



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mapModal" (click)="openMap()">
  Launch demo modal
</button>

<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 300px">
        <div class="left-bar"></div>
        <div id="ol-map" class="map-container h-100"></div>
        <button (click)="showMapDetails()" style="position: absolute;bottom: 0;left: 50%">submit</button>
      </div>
    </div>
  </div>
</div>
