:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  background-color: var(--header-color);
  padding: 2em;
}
header .title {
  font-size: 28px;
}
main {
  display: flex;
  flex-grow: 1;
}
.left-bar {
  width: 20em;
  background-color: var(--sidebar-color);
}
.map-container {
  flex-grow: 1;
  border: 2px solid black;

}


footer {
  background-color: var(--header-color);
  padding: 1em;
}
button.ol-zoom-in{
  background-color: red;
  border:none;

}
